<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uppfind.dao.mybatis.CommentMapper">

  <!--<resultMap id="BaseResultMap" type="Comment">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="targetId" property="targetId" jdbcType="VARCHAR"/>
    <result column="targetType" property="targetType" jdbcType="TINYINT"/>
    <result column="content" property="content" jdbcType="VARCHAR"/>
    <result column="userName" property="userName" jdbcType="VARCHAR"/>
    <result column="likeCount" property="likeCount" jdbcType="INTEGER"/>
    <result column="createTime" property="createTime" javaType="java.lang.String" jdbcType="TIMESTAMP"/>

  </resultMap>-->

  <select id="queryCommentByTargetId" parameterType="Comment" resultType="Comment">
    SELECT id,content,userName,likeCount,createTime,targetId FROM commentview WHERE targetId = #{targetId} and targetType = #{targetType}
  </select>

  <select id="queryCommentCountByTargetId" parameterType="Comment" resultType="Integer">
    SELECT COUNT(*) FROM commentview WHERE targetId = #{targetId} and targetType = #{targetType}
  </select>

  <insert id="addComment" parameterType="Comment">
    INSERT INTO commentsheet (targetId,targetType,content,userName) VALUES (#{targetId},#{targetType},#{content},#{userName})
  </insert>


</mapper>
