<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uppfind.dao.mybatis.MasterMajorMapper">

  <select id="queryMasterMajorSet" resultType="MasterMajor">
    SELECT  m.Major ,m.MajorCode AS id  FROM  mastermajorview as m  WHERE  (SELECT u.Location FROM universitysheet AS u
    WHERE m.UniversityCode=u.UniversityCode)= #{province}
    AND m.University=#{university}
    AND m.School=#{school}
    AND  m.Major !=''
    GROUP BY  m.Major, M.MajorCode
  </select>

  <select id="queryMasterMajorList" resultType="MasterMajor">
    SELECT  m.Major ,m.MajorCode AS id, m.University, m.School,m.SchoolCode, (SELECT s.Icon FROM schoolsheet AS s WHERE m.SchoolCode=s.SchoolCode ) AS Icon,(SELECT s.Image FROM schoolsheet AS s WHERE m.SchoolCode=s.SchoolCode ) AS Image
    FROM  mastermajorview AS m
    WHERE m.Major LIKE concat(concat('%',#{keyword}),'%')
    AND  m.Major !=''
    GROUP BY  m.Major, m.MajorCode, m.University, m.School, m.SchoolCode
  </select>

  <select id="queryMajorFieldList" resultType="MasterMajor">
    SELECT  j.Name, j.Id, j.Major, j.Field, j.University, j.School, (SELECT t.Icon FROM teacherview AS t WHERE t.Id=j.Id) AS Icon
    FROM  mastermajorview AS j
    WHERE j.Field LIKE concat(concat('%',#{keyword}),'%')
    AND j.Field !=''
  </select>

  <select id="queryMajorFieldPageList" resultType="MasterMajor">
    SELECT  j.Name, j.Id, j.Major, j.Field, j.University, j.School, (SELECT t.Icon FROM teacherview AS t WHERE t.Id=j.Id) AS Icon
    FROM  mastermajorview AS j
    WHERE j.Field LIKE concat(concat('%',#{keyword}),'%')
    AND j.Field !=''
    LIMIT #{offset}, #{rows}
  </select>

  <select id="queryMasterMajorInfo" resultType="MasterMajor">
    SELECT  m.Major ,m.MajorCode AS id, m.University, m.School,m.SchoolCode, (SELECT s.Icon FROM schoolsheet AS s WHERE m.SchoolCode=s.SchoolCode ) AS Icon,(SELECT s.Image FROM schoolsheet AS s WHERE m.SchoolCode=s.SchoolCode ) AS Image
    FROM  mastermajorview AS m
    WHERE m.SchoolCode= #{schoolCode}
    AND m.MajorCode= #{majorCode}
    AND  m.Major !=''
    GROUP BY  m.Major,m.MajorCode, m.University, m.School,m.SchoolCode
  </select>


</mapper>
