<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uppfind.dao.mybatis.PhdMajorMapper">

  <select id="queryPhdMajorSet" resultType="PhdMajor">
    SELECT  p.Major ,p.MajorCode AS id  FROM  phdmajorview as p
    WHERE  (SELECT u.Location FROM universitysheet AS u WHERE p.UniversityCode=u.UniversityCode)= #{province}
    AND p.University=#{university}
    AND p.School=#{school}
    AND  p.Major !=''
    GROUP BY  p.Major, p.MajorCode
  </select>

  <select id="queryPhdMajorList" resultType="PhdMajor">
    SELECT  p.Major ,p.MajorCode AS id, p.University, p.School,p.SchoolCode, (SELECT s.Icon FROM schoolsheet AS s WHERE p.SchoolCode=s.SchoolCode ) AS Icon,(SELECT s.Image FROM schoolsheet AS s WHERE p.SchoolCode=s.SchoolCode) AS Image
    FROM  phdmajorview as p
    WHERE p.Major LIKE concat(concat('%',#{keyword}),'%')
    AND  p.Major !=''
    GROUP BY  p.Major, p.MajorCode, p.University, p.School, p.SchoolCode
  </select>

  <select id="queryPhdMajorCount" resultType="Integer">
    SELECT count(*) FROM (
    SELECT count(*)
    FROM  phdmajorview as p
    WHERE p.Major LIKE concat(concat('%',#{keyword}),'%')
    AND  p.Major !=''
    GROUP BY  p.Major, p.MajorCode, p.University, p.School, p.SchoolCode) groupmajor
  </select>

  <select id="queryPhdMajorPageList" resultType="PhdMajor">
    SELECT  p.Major ,p.MajorCode AS id, p.University, p.School,p.SchoolCode, (SELECT s.Icon FROM schoolsheet AS s WHERE p.SchoolCode=s.SchoolCode ) AS Icon,(SELECT s.Image FROM schoolsheet AS s WHERE p.SchoolCode=s.SchoolCode) AS Image
    FROM  phdmajorview as p
    WHERE p.Major LIKE concat(concat('%',#{keyword}),'%')
    AND  p.Major !=''
    GROUP BY  p.Major, p.MajorCode, p.University, p.School, p.SchoolCode
    LIMIT #{offset}, #{rows}
  </select>

  <select id="queryPhdMajorInfo" resultType="PhdMajor">
    SELECT  p.Major ,p.MajorCode AS id, p.University, p.School,p.SchoolCode, (SELECT s.Icon FROM schoolsheet AS s WHERE p.SchoolCode=s.SchoolCode ) AS Icon,(SELECT s.Image FROM schoolsheet AS s WHERE p.SchoolCode=s.SchoolCode ) AS Image
    FROM  phdmajorview as p
    WHERE p.SchoolCode= #{schoolCode}
    AND p.MajorCode= #{majorCode}
    AND  p.Major !=''
    GROUP BY  p.Major, p.MajorCode, p.University, p.School, p.SchoolCode
  </select>


</mapper>
