<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uppfind.dao.mybatis.TeacherMapper">

  <select id="queryTeacherSet" resultType="Teacher">
    SELECT t.Name, t.Id
    FROM teacherview AS t
    WHERE (SELECT u.Location FROM universitysheet AS u WHERE t.UniversityCode=u.UniversityCode)= #{province}
    AND t.University=#{university}
    AND t.School=#{school}
  </select>

  <select id="selectAllTeachers" resultType="TeacherBasic">
    select * from uppfind_teacher_basic_view
  </select>

  <select id="selectAllTeachersPage" resultType="TeacherBasic">
    select * from uppfind_teacher_basic_view
    limit #{offset}, #{rows}
  </select>

  <select id="queryTeacherList" resultType="Teacher">
    SELECT t.Name, t.School, t.University, t.Title, t.Degree, t.Icon, t.Id, t.likeCount, t.commentCount
    FROM teacherview AS t
    WHERE t.Name LIKE concat(concat('%',#{keyword}),'%')
  </select>

  <select id="queryTeacherCount" resultType="Integer">
    SELECT count(*)
    FROM teacherview AS t
    WHERE t.Name LIKE concat(concat('%',#{keyword}),'%')
  </select>


  <select id="selectByEmail" resultType="Teacher">
    select * from uppfind_teacherview where Email = #{email}
  </select>

  <update id="updateFetchStatus" parameterType="String">
    update teachersheet set IsFetch = 1 where Email = #{email}
  </update>

  <select id="queryTeacherListById" resultType="Teacher">
    SELECT t.Name, t.School, t.University, t.Title, t.Degree, t.Icon, t.Id, t.likeCount, t.commentCount
    FROM teacherview AS t
    WHERE SchoolCode = #{schoolCode}
  </select>

  <select id="queryTeacherPageListById" resultType="Teacher">
    SELECT t.Name, t.School, t.University, t.Title, t.Degree, t.Icon, t.Id, t.likeCount, t.commentCount
    FROM teacherview AS t
    WHERE SchoolCode = #{schoolCode}
    LIMIT #{offset}, #{rows}
  </select>

  <select id="queryTeacherCountById" resultType="Integer">
    SELECT count(*)
    FROM teacherview AS t
    WHERE SchoolCode = #{schoolCode}
  </select>




  <select id="queryTeacherListByPhdMajorId" resultType="Teacher">
    SELECT t.Name, t.School, t.University, t.Title, t.Degree, t.Icon, t.Id, t.likeCount, t.commentCount
    FROM teacherview AS t
    WHERE Id IN (SELECT Id FROM phdmajorview WHERE MajorCode = #{majorCode})
  </select>

  <select id="queryTeacherPageListByPhdMajorId" resultType="Teacher">
    SELECT t.Name, t.School, t.University, t.Title, t.Degree, t.Icon, t.Id, t.likeCount, t.commentCount
    FROM teacherview AS t
    WHERE Id IN (SELECT Id FROM phdmajorview WHERE MajorCode = #{majorCode})
    LIMIT #{offset}, #{rows}
  </select>

  <select id="queryTeacherCountByPhdMajorId" resultType="Integer">
    SELECT count(*)
    FROM teacherview AS t
    WHERE Id IN (SELECT Id FROM phdmajorview WHERE MajorCode = #{majorCode})
  </select>



  <select id="queryTeacherListByMasterMajorId" resultType="Teacher">
    SELECT t.Name, t.School, t.University, t.Title, t.Degree, t.Icon, t.Id, t.likeCount, t.commentCount
    FROM teacherview AS t
    WHERE Id IN (SELECT Id FROM mastermajorview WHERE MajorCode = #{majorCode})
  </select>

  <select id="queryTeacherPageListByMasterMajorId" resultType="Teacher">
    SELECT t.Name, t.School, t.University, t.Title, t.Degree, t.Icon, t.Id, t.likeCount, t.commentCount
    FROM teacherview AS t
    WHERE Id IN (SELECT Id FROM mastermajorview WHERE MajorCode = #{majorCode})
    LIMIT #{offset}, #{rows}
  </select>

  <select id="queryTeacherCountByMasterMajorId" resultType="Integer">
    SELECT count(*)
    FROM teacherview AS t
    WHERE Id IN (SELECT Id FROM mastermajorview WHERE MajorCode = #{majorCode})
  </select>


  <select id="queryTeacherInfo" resultType="Teacher">
    SELECT *, (SELECT count(*) FROM likerecordsheet WHERE targetId = t.Id and targetType = 1 and userId = #{userId}) AS isLike
    FROM teacherview AS t
    WHERE t.Id= #{teacherId}
  </select>

  <select id="queryTeacherPageList" resultType="Teacher">
    SELECT t.Name, t.School, t.University, t.Title, t.Degree, t.Icon, t.Id
    FROM teacherview AS t
    WHERE t.Name LIKE concat(concat('%',#{keyword}),'%')
    LIMIT #{offset}, #{rows}
  </select>

</mapper>
